@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}



body{
    background: #F5F3F5;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
}


.links{
    color: #576CA8;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 35px;
    transition: 0.7s linear;
}

.links:hover{
    color: #1B264F;
    font-size: 18px;
}



main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15%;
    margin-bottom: 10%;
}


#texts{
    max-width: 45%;
}

#texts h1{
    color: #1B264F;
    font-size: 40px;
}

#texts p{
    color: #302B27;
    font-size: 20px;
    margin: 20px 0;
}


img{
    max-width: 40%;
}


#sign-in{
    width: 100px;
    height: 35px;
    border: none;
    background: #274690;
    border-radius: 20px;  
    color: #ffffff;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#sign-in:hover{
    transform: skew(-4deg, -4deg);
}

#sign-in:active{
    transform: scale(0.9);    
}


#learn-more{
    width: 100px;
    height: 35px;
    border: 1px solid #274690;
    background: transparent;
    border-radius: 20px;
    color: #302B27;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

#learn-more:hover{
    width: 120px;
    background: #302B27;
    border: none;
    color: #F5F3F5;
}

#learn-more:active{
    transform: scale(1.1);
    background: rgba(48, 43, 39, 0.8);    
}



#section-contact{
    display: flex;
    width: 8%;
    margin-left: 50px;
}

.icons-contact{
    margin-right: 25px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

.icons-contact:hover{
    opacity: 1;
    transform: translateY(-10px);
}



@media screen and (max-width: 500px) {
    *{
        width: 100%;
    }

    header{
        text-align: center;
    }

    main{
        flex-direction: column;
        gap: 40px;
    }

    #texts{
        max-width: 90%;

    }

    img{
        max-width: 120%;
    }

    #section-contact{
        position: absolute;
        right: 10px;
        bottom: 20px;
        width: 10%;
        flex-direction: column;
        gap: 25px;
        margin: 0;
    }

}
